html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}
.menu {
  flex-basis: 15%;
}
.category {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category .text {
  flex-basis: 10%;
}
.category .current {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}
.footer {
  flex-basis: 5%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content button {
  width: 20px;
}
.content > div:hover {
  cursor: pointer;
  border: 2px solid #f00;
}
.item {
  background-color: #fff;
  width: 180px;
  height: 300px;
  border: 2px solid #fff;
}
.item.active {
  border: 2px solid #ff0;
}
.category .svg-button {
  stroke: #000;
}
.category.active .text .svg-button {
  stroke: #0f0;
}
.category .text svg:hover .svg-button {
  stroke: #ff0;
}
.category svg:hover {
  cursor: pointer;
}
.content svg:hover .svg-button {
  stroke: #ff0;
}
.content.active .svg-button {
  stroke: #0f0;
}
