
.icon {
  background-image: url('images.jpg');
}

.icon-a-clockwork-orange-1971 {
  background-position: -0px -0px;
  width: 181px;
  height: 211px;
}
.icon-raiders-of-the-lost-ark-1981 {
  background-position: -0px -211px;
  width: 181px;
  height: 227px;
}
.icon-w-2008 {
  background-position: -0px -438px;
  width: 181px;
  height: 228px;
}
.icon-blestenation-2007 {
  background-position: -0px -666px;
  width: 181px;
  height: 233px;
}
.icon-Forrest_Gump-1994 {
  background-position: -0px -899px;
  width: 181px;
  height: 236px;
}
.icon-mean-streets-1973 {
  background-position: -0px -1135px;
  width: 181px;
  height: 238px;
}
.icon-the-shining-2008 {
  background-position: -0px -1373px;
  width: 181px;
  height: 238px;
}
.icon-the-dark-crystal-1982 {
  background-position: -0px -1611px;
  width: 181px;
  height: 243px;
}
.icon-thx2-1971 {
  background-position: -0px -1854px;
  width: 181px;
  height: 243px;
}
.icon-kill-bill-2003 {
  background-position: -0px -2097px;
  width: 181px;
  height: 249px;
}
.icon-sweeney-todd-2007 {
  background-position: -0px -2346px;
  width: 181px;
  height: 249px;
}
.icon-the-birds-1963 {
  background-position: -0px -2595px;
  width: 181px;
  height: 253px;
}
.icon-star-wars-1977 {
  background-position: -0px -2848px;
  width: 181px;
  height: 254px;
}
.icon-Pulp_Finction-1994 {
  background-position: -0px -3102px;
  width: 181px;
  height: 259px;
}
.icon-planet-of-the-apes-2001 {
  background-position: -0px -3361px;
  width: 181px;
  height: 259px;
}
.icon-zodiac-2007 {
  background-position: -0px -3620px;
  width: 181px;
  height: 262px;
}
.icon-28-weeks-later-2007 {
  background-position: -0px -3882px;
  width: 181px;
  height: 263px;
}
.icon-fearless-2006 {
  background-position: -0px -4145px;
  width: 181px;
  height: 263px;
}
.icon-v-for-vendetta-2006 {
  background-position: -0px -4408px;
  width: 181px;
  height: 263px;
}
.icon-invansion-2008 {
  background-position: -0px -4671px;
  width: 181px;
  height: 264px;
}
.icon-the-spirit-2008 {
  background-position: -0px -4935px;
  width: 181px;
  height: 264px;
}
.icon-american-beauty-1999 {
  background-position: -0px -5199px;
  width: 181px;
  height: 264px;
}
.icon-cloverfield-2008 {
  background-position: -0px -5463px;
  width: 181px;
  height: 264px;
}
.icon-the-us-vs-john-lenon-2006 {
  background-position: -0px -5727px;
  width: 181px;
  height: 264px;
}
.icon-day-watch-2007 {
  background-position: -0px -5991px;
  width: 181px;
  height: 264px;
}
.icon-Moulin_Rouge-2001 {
  background-position: -0px -6255px;
  width: 181px;
  height: 265px;
}
.icon-the-fountain-2006 {
  background-position: -0px -6520px;
  width: 181px;
  height: 265px;
}
.icon-vacancy-2007 {
  background-position: -0px -6785px;
  width: 181px;
  height: 265px;
}
.icon-walk-the-line-2005 {
  background-position: -0px -7050px;
  width: 181px;
  height: 265px;
}
.icon-perfume-2007 {
  background-position: -0px -7315px;
  width: 181px;
  height: 265px;
}
.icon-The_Dark_Knight {
  background-position: -0px -7580px;
  width: 181px;
  height: 266px;
}
.icon-Unforgiven-1992 {
  background-position: -0px -7846px;
  width: 181px;
  height: 266px;
}
.icon-the-thing-1982 {
  background-position: -0px -8112px;
  width: 181px;
  height: 268px;
}
.icon-amadeus-1984 {
  background-position: -0px -8380px;
  width: 181px;
  height: 269px;
}
.icon-the-memory-thief-2007 {
  background-position: -0px -8649px;
  width: 181px;
  height: 269px;
}
.icon-grindhouse-2007 {
  background-position: -0px -8918px;
  width: 181px;
  height: 271px;
}
.icon-Man_With_One_Red_Shoe-1985 {
  background-position: -0px -9189px;
  width: 181px;
  height: 272px;
}
.icon-la-feria-de-cepillin-2008 {
  background-position: -0px -9461px;
  width: 181px;
  height: 275px;
}
.icon-excalibur-1981 {
  background-position: -0px -9736px;
  width: 181px;
  height: 275px;
}
.icon-Dr_Strangelove-1964 {
  background-position: -0px -10011px;
  width: 181px;
  height: 276px;
}
.icon-vertigo-1958 {
  background-position: -0px -10287px;
  width: 181px;
  height: 278px;
}
.icon-death-proof-2007 {
  background-position: -0px -10565px;
  width: 181px;
  height: 290px;
}
.icon-the-good-german-2006 {
  background-position: -0px -10855px;
  width: 181px;
  height: 298px;
}
.icon-Rocky-1976 {
  background-position: -0px -11153px;
  width: 181px;
  height: 339px;
}
