
.icon {
  background-image: url('/images/images.jpg');
}

.icon-a_clockwork_orange-1971 {
  background-position: -0px -0px;
  width: 173px;
  height: 203px;
}
.icon-raiders_of_the_lost_ark-1981 {
  background-position: -0px -203px;
  width: 173px;
  height: 219px;
}
.icon-w-2008 {
  background-position: -0px -422px;
  width: 173px;
  height: 220px;
}
.icon-blestenation-2007 {
  background-position: -0px -642px;
  width: 173px;
  height: 225px;
}
.icon-forrest_gump-1994 {
  background-position: -0px -867px;
  width: 173px;
  height: 228px;
}
.icon-mean_streets-1973 {
  background-position: -0px -1095px;
  width: 173px;
  height: 230px;
}
.icon-the_shining-2008 {
  background-position: -0px -1325px;
  width: 173px;
  height: 230px;
}
.icon-the_dark_crystal-1982 {
  background-position: -0px -1555px;
  width: 173px;
  height: 235px;
}
.icon-thx2-1971 {
  background-position: -0px -1790px;
  width: 173px;
  height: 235px;
}
.icon-kill_bill-2003 {
  background-position: -0px -2025px;
  width: 173px;
  height: 241px;
}
.icon-sweeney_todd-2007 {
  background-position: -0px -2266px;
  width: 173px;
  height: 241px;
}
.icon-the_birds-1963 {
  background-position: -0px -2507px;
  width: 173px;
  height: 245px;
}
.icon-star_wars-1977 {
  background-position: -0px -2752px;
  width: 173px;
  height: 246px;
}
.icon-pulp_finction-1994 {
  background-position: -0px -2998px;
  width: 173px;
  height: 251px;
}
.icon-planet_of_the_apes-2001 {
  background-position: -0px -3249px;
  width: 173px;
  height: 251px;
}
.icon-zodiac-2007 {
  background-position: -0px -3500px;
  width: 173px;
  height: 254px;
}
.icon-28_weeks_later-2007 {
  background-position: -0px -3754px;
  width: 173px;
  height: 255px;
}
.icon-fearless-2006 {
  background-position: -0px -4009px;
  width: 173px;
  height: 255px;
}
.icon-v_for_vendetta-2006 {
  background-position: -0px -4264px;
  width: 173px;
  height: 255px;
}
.icon-invansion-2008 {
  background-position: -0px -4519px;
  width: 173px;
  height: 256px;
}
.icon-the_spirit-2008 {
  background-position: -0px -4775px;
  width: 173px;
  height: 256px;
}
.icon-american_beauty-1999 {
  background-position: -0px -5031px;
  width: 173px;
  height: 256px;
}
.icon-cloverfield-2008 {
  background-position: -0px -5287px;
  width: 173px;
  height: 256px;
}
.icon-the_us_vs_john_lenon-2006 {
  background-position: -0px -5543px;
  width: 173px;
  height: 256px;
}
.icon-day_watch-2007 {
  background-position: -0px -5799px;
  width: 173px;
  height: 256px;
}
.icon-vacancy-2007 {
  background-position: -0px -6055px;
  width: 173px;
  height: 257px;
}
.icon-moulin_rouge-2001 {
  background-position: -0px -6312px;
  width: 173px;
  height: 257px;
}
.icon-perfume-2007 {
  background-position: -0px -6569px;
  width: 173px;
  height: 257px;
}
.icon-the_fountain-2006 {
  background-position: -0px -6826px;
  width: 173px;
  height: 257px;
}
.icon-walk_the_line-2005 {
  background-position: -0px -7083px;
  width: 173px;
  height: 257px;
}
.icon-unforgiven-1992 {
  background-position: -0px -7340px;
  width: 173px;
  height: 258px;
}
.icon-the_dark_knight-2008 {
  background-position: -0px -7598px;
  width: 173px;
  height: 258px;
}
.icon-the_thing-1982 {
  background-position: -0px -7856px;
  width: 173px;
  height: 260px;
}
.icon-amadeus-1984 {
  background-position: -0px -8116px;
  width: 173px;
  height: 261px;
}
.icon-the_memory_thief-2007 {
  background-position: -0px -8377px;
  width: 173px;
  height: 261px;
}
.icon-grindhouse-2007 {
  background-position: -0px -8638px;
  width: 173px;
  height: 263px;
}
.icon-man_with_one_red_shoe-1985 {
  background-position: -0px -8901px;
  width: 173px;
  height: 264px;
}
.icon-la_feria_de_cepillin-2008 {
  background-position: -0px -9165px;
  width: 173px;
  height: 267px;
}
.icon-excalibur-1981 {
  background-position: -0px -9432px;
  width: 173px;
  height: 267px;
}
.icon-dr_strangelove-1964 {
  background-position: -0px -9699px;
  width: 173px;
  height: 268px;
}
.icon-vertigo-1958 {
  background-position: -0px -9967px;
  width: 173px;
  height: 270px;
}
.icon-death_proof-2007 {
  background-position: -0px -10237px;
  width: 173px;
  height: 282px;
}
.icon-the_good_german-2006 {
  background-position: -0px -10519px;
  width: 173px;
  height: 290px;
}
.icon-rocky-1976 {
  background-position: -0px -10809px;
  width: 173px;
  height: 331px;
}
